body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
/* navbar */
nav {
  background-color: #222;
  padding: 15px 0;
  position: sticky;
top: 0;
z-index: 1000;

}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
nav ul li a:hover {
  color: orange;
}
/* Main Section */
.main {
  text-align: center;
  height: 67.4vh;
margin-top: 90px;
}
.main h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
.main p {
  font-size: 18px;
  margin-bottom: 30px;
}
/* Button */
.main button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.main button:hover {
  background-color: #e65c00;
}
.card {
    background-color: white;
    width: 300px;
    margin: 40px auto;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.674);
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    color: #555;
}
/* footer */
footer {
  background-color: #222;
  color: wheat;
  text-align: center;
  padding: 15px;
}
footer:hover {
    background-color: #000;
    color: rgba(255, 255, 0, 0.858);
}
